

<section class="min-h-full py-5">
    <div class="mx-auto max-w-screen-xl px-2 lg:px-12">
        <div class="grid gap-4 mb-4 sm:grid-cols-2 sm:gap-6 sm:mb-5 justify-center">
            <!-- sin barra de busqueda -->
            <article class="rounded-3xl bg-white p-8 h-[220px] w-[430px]">
                <div class="relative flex justify-between gap-4  ">
                    <div>
                        <h2 class="block antialiased tracking-normal font-sans text-base font-semibold leading-relaxed text-gray-900">Reporte Genera</h2>
                    </div>
                    <img class="w-[180px] h-[156px] rounded-3xl" src="../static/img-reporte/pdf.png" alt="">
                </div>
                <div class="w-full">
                    <button id="reporte_general" class="h-[48px] w-[132px] rounded-full bg-[#B71D21] text-white">Crear constancia</button>
                </div>
            </article>
            <!-- con barra de busqueda -->
            <article class="rounded-3xl bg-white p-8 h-[220px] w-[430px]">
                <div class='relative flex justify-between gap-4  '>
                    <div>
                        <h2 class="w-full block antialiased tracking-normal font-sans text-base font-semibold leading-relaxed text-gray-900">Reporte por Sección</h2>
                        <div class="w-full top-4">
                            <div class="w-full">
                                <label for="estudiante-grado" class="block text-sm font-medium text-gray-900">Grado</label>
                                <select id="estudiante-grado" name="estudiante-grado" 
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2">
                                    <option value="1">Primer grado</option>
                                    <option value="2">Segundo grado</option>
                                    <option value="3">Tercer grado</option>
                                    <option value="4">Cuarto grado</option>
                                    <option value="5">Quinto grado</option>
                                    <option value="6">Sexto grado</option>
                                </select>
                            </div>
                            
                            <div class="w-full mr-5">
                                <label for="estudiante-literal" class="block text-sm font-medium text-gray-900">Seccion</label>
                                <select id="estudiante-seccion" name="estudiante-seccion" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2">
                                    <option value="A">A</option>
                                    <option value="B">B</option>
                                    <option value="C">C</option>
                                    <option value="D">D</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <img class="w-[180px] h-[156px] rounded-3xl" src="../static/img-reporte/pdf.png" alt="">
                </div>
                <div class="w-full">
                    <button id="reporte_por_seccion" class="h-[48px] w-[132px] rounded-full bg-[#B71D21] text-white">Crear constancia</button>
                </div>
            </article>
            <!-- con barra de busqueda -->
            <article class="rounded-3xl bg-white p-8 h-[220px] w-[430px]">
                <div class='relative flex justify-between gap-4  '>
                    <div>
                        <h2 class="block antialiased tracking-normal font-sans text-base font-semibold leading-relaxed text-gray-900">Constancia de estudio</h2>
                        <div class="relative w-full top-4">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                <svg aria-hidden="true" class="w-5 h-5 text-gray-500 " fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                                </svg>
                            </div>
                            <input type="text" id="simple-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2" placeholder="Cedula" required="" autocomplete="off" maxlength="8">
                        </div>
                    </div>
                    <img class="w-[180px] h-[156px] rounded-3xl" src="../static/img-reporte/pdf.png" alt="">
                </div>
                <div class="w-full">
                    <button id="constancia_estudio" class="h-[48px] w-[132px] rounded-full bg-[#B71D21] text-white">Crear constancia</button>
                </div>
            </article>
            <!-- con barra de busqueda -->
            <article class="rounded-3xl bg-white p-8 h-[220px] w-[430px]">
                <div class='relative flex justify-between gap-4  '>
                    <div>
                        <h2 class="block antialiased tracking-normal font-sans text-base font-semibold leading-relaxed text-gray-900">Buena Conducta</h2>
                        <div class="relative w-full top-4">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                <svg aria-hidden="true" class="w-5 h-5 text-gray-500 " fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                                </svg>
                            </div>
                            <input type="text" id="simple-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2" placeholder="Cedula" required="" autocomplete="off" maxlength="8">
                        </div>
                    </div>
                    <img class="w-[180px] h-[156px] rounded-3xl" src="../static/img-reporte/pdf.png" alt="">
                </div>
                <div class="w-full">
                    <button id="buena_conducta" class="h-[48px] w-[132px] rounded-full bg-[#B71D21] text-white">Crear constancia</button>
                </div>
            </article>
        </div>
    </div>
</section>

<!-- Código HTML de la ventana modal -->
<div id="modal" class="bg-slate-800 bg-opacity-50 flex justify-center items-center absolute top-0 right-0 bottom-0 left-0 hidden">

  </div>
  
  <!-- Estilos CSS para la ventana modal -->
  <style>
  #modal {
    z-index: 9999;
  }
  </style>
  